body{
    font-family: 'Montserrat', sans-serif;
    color: #575757;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 45px;
    font-weight: 600;
}
p{
    font-size: 20px;
    
}
.yellow-color{
    color: #FF8C00;
}
.flex-section{
    display: flex;
    margin-bottom: 210px;
    
}
.half-width{
    /* margin-top: auto; */
   
    width: 50%;
    display: block;
    padding-left: 5%;
    
}

.text-organize{
    padding-top: 7%;
}
.half-width img{
    width: 75%;
}
.linked-button{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right,#FFA500, #ff7b00);
    padding: 20px ;
    border-radius: 60px;
    margin-top: 10px;
    display:inline-block; 
}
#about-us{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
   
}

#our-menu{
    padding: 0 5%;
}
.text-center{
    text-align: center;
}